on:
  workflow_dispatch:
  #schedule:
  #  - cron: '5 4 * * *'

name: Build TinyTeX Bundles

env:
  # for gh usage with external repo
  GH_TOKEN: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
  GH_REPO: cderv/tinytex-releases

jobs:
  new-release:
    runs-on: ubuntu-latest
    name: Create new daily draft release
    outputs:
      tag: ${{ steps.draft.outputs.tag }}
      draft-tag: ${{ steps.draft.outputs.draft-tag }}

    steps:
      - name: Create new draft release
        id: draft
        run: |
          tag=daily
          url=$(gh -R cderv/tinytex-releases release create ${tag} --draft --prerelease --title "TinyTeX daily build" --notes "(WIP) Next daily release")
          echo "::set-output name=draft-tag::$(echo $url | grep -o tag/[^/]*$ | cut -c 5-)"
          echo "::set-output name=tag::${tag}"
    
  build-windows:
    needs: [new-release]
    runs-on: windows-latest
    name: Build Bundles For Windows

    env:
      CTAN_REPO: https://ctan.math.illinois.edu/systems/texlive/tlnet
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Clone repo
        uses: actions/checkout@v2

      - name: Install Pandoc
        uses: r-lib/actions/setup-pandoc@v2
        with:
          pandoc-version: '2.17.1.1'

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: release
          use-public-rspm: true

      # do we want to install CRAN tinytex or dev tinytex ?
      - name: Install tinytex package and its deps
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: local::., any::rmarkdown

      - name: Update all packages
        run: |
          try(update.packages(ask = FALSE, checkBuilt = TRUE))
        shell: Rscript {0}

      - name: Add TinyTex to PATH
        run: |
          echo "$APPDATA\TinyTeX\bin\win32" >> $GITHUB_PATH
        shell: bash

      - name: Build TinyTeX-0.zip
        run: |
          Rscript "tools/install-windows-base.R" # the infraonly scheme
          Compress-Archive $Env:APPDATA\\TinyTeX TinyTeX-0.zip

      - name: Build TinyTeX-1.zip
        run: |
          Rscript "tools/install-windows-more.R"  # extra packages for compiling R Markdown
          Compress-Archive $Env:APPDATA\\TinyTeX TinyTeX-1.zip

      - name: Build TinyTeX.zip
        run: |
          Rscript "tools/test-basic.R"  # even more LaTeX packages
          Compress-Archive $Env:APPDATA\\TinyTeX TinyTeX.zip

      - name: Test Installation
        env:
          TINYTEX_INSTALLER: TinyTeX-0
        run: tools\\install-bin-windows.bat
        shell: cmd

      - name: Build tinitex
        run: Rscript tools/build-tinitex.R

      - run: dir .

      - name: Upload bundles
        run: |
          gh release upload ${{needs.new-release.outputs.draft}} TinyTeX-0.zip TinyTeX-1.zip TinyTeX.zip tinytex.zip

  build-linux:
    needs: [new-release]
    runs-on: ubuntu-latest
    name: Build Bundles For Linux

    env:
      CTAN_REPO: https://ctan.math.illinois.edu/systems/texlive/tlnet
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Clone repo
        uses: actions/checkout@v2

      - name: Install Pandoc
        uses: r-lib/actions/setup-pandoc@v2
        with:
          pandoc-version: '2.17.1.1'

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: release
          use-public-rspm: true

      - name: Install tinytex package and its deps
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: local::., any::rmarkdown

      - name: Update all packages
        run: |
          try(update.packages(ask = FALSE, checkBuilt = TRUE))
        shell: Rscript {0}

      - name: Build TinyTeX-0.zip & install more package
        run: |
          sed -i 's|# finished base|cp $OLDPWD/install-tl-unx.tar.gz tools/; Rscript tools/clean-tlpdb.R; tar zcf TinyTeX-0.tar.gz -C ~ .TinyTeX|' tools/install-unx.sh
          ./tools/install-unx.sh

      - name: Build TinyTeX-1.zip with new package installed
        run: |
          Rscript "tools/clean-tlpdb.R"
          tar zcf TinyTeX-1.tar.gz -C ~ .TinyTeX

      - name: Build TinyTeX.zip
        run: |
          Rscript "tools/test-basic.R"
          tar zcf TinyTeX.tar.gz -C ~ .TinyTeX

      - name: Export Regex file
        run: |
          Rscript "tools/export-regex.R"
          tar zcf regex.tar.gz regex.json

      - name: Build *nix installer bundle
        working-directory: tools
        run: |
          cp install-base.sh install.sh
          echo "tlmgr install $(cat pkgs-custom.txt | tr '\n' ' ')" >> install.sh
          tar zcf ../installer-unix.tar.gz install-tl-unx.tar.gz tinytex.profile install.sh

      - name: Test Installation
        env:
          TINYTEX_INSTALLER: TinyTeX-0
        run: ./tools/install-bin-unix.sh

      - name: Build tinitex
        run: Rscript tools/build-tinitex.R

      - run: ls -lisa

      - name: Upload bundles
        run: |
          gh release upload ${{needs.new-release.outputs.draft}} TinyTeX-0.tar.gz TinyTeX-1.tar.gz TinyTeX.tar.gz tinytex.tar.gz installer-unix.tar.gz regex.tar.gz

  build-mac:
    needs: [new-release]
    runs-on: macos-latest
    name: Build Bundles For macOS

    env:
      CTAN_REPO: https://ctan.math.illinois.edu/systems/texlive/tlnet
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Clone repo
        uses: actions/checkout@v2

      - name: Install Pandoc
        uses: r-lib/actions/setup-pandoc@v2
        with:
          pandoc-version: '2.17.1.1'

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: release
          use-public-rspm: true

      - name: Install tinytex package and its deps
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: local::., any::rmarkdown

      - name: Update all packages
        run: |
          try(update.packages(ask = FALSE, checkBuilt = TRUE))
        shell: Rscript {0}

      - name: Build TinyTeX-0.zip & install more package
        run: |
          sed -i '' 's|# finished base|Rscript "${{ github.workspace }}/tools/clean-tlpdb.R"; tar zcf "${{ github.workspace}}/TinyTeX-0.tgz" -C ~/Library TinyTeX|' tools/install-unx.sh
          ./tools/install-unx.sh

      - name: Build TinyTeX-1.zip with new package installed
        run: |
          Rscript "tools/clean-tlpdb.R"
          tar zcf TinyTeX-1.tgz -C ~/Library TinyTeX

      - name: Build TinyTeX.zip
        run: |
          Rscript "tools/test-basic.R"
          tar zcf TinyTeX.tgz -C ~/Library TinyTeX

      - name: Test Installation
        env:
          TINYTEX_INSTALLER: TinyTeX-0
        run: ./tools/install-bin-unix.sh

      - name: Build tinitex
        run: Rscript tools/build-tinitex.R

      - run: ls -lisa

      - name: Upload bundles
        run: |
          gh release upload ${{needs.new-release.outputs.draft}} TinyTeX-0.tgz TinyTeX-1.tgz TinyTeX.tgz tinytex.tgz

  deploy:
    needs: [new-release, build-windows, build-linux, build-mac]
    runs-on: ubuntu-latest
    name: Publish new daily release

    steps:
      - name: Create release note
        run: |
          echo "This release contains the daily build of TinyTeX ($(date +'%A %B %d %Y %r'))." > .github/notes.md
          echo "Please see https://github.com/yihui/tinytex-releases for more info." >> .github/notes.md
      - name: Publish new release
        env:
          GH_TOKEN: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
          GH_REPO: cderv/tinytex-releases
        run: |
          echo "::group::Move tag to last commit on master"
          sha=$(gh api repos/{owner}/{repo}/git/ref/heads/master --jq '.object.sha')
          gh api repos/{owner}/{repo}/git/refs/tags/daily -f sha=$sha --template 'Tag {{.ref | color "blue"}} moved on commit sha {{.object.sha | color "blue"}}.'
          echo -e "\n::endgroup::"
          echo "::group::undraft new and delete current release"
          old=$(gh release edit ${{needs.new-release.outputs.tag}} --draft=true | grep -o tag/[^/]*$ | cut -c 5-)
          gh release edit ${{needs.new-release.outputs.draft}} --draft=false --notes-file .github/notes.md
          gh release delete ${old} -y
          echo -e "\n::endgroup::"
